
<body>

    <h2 style="text-align:center">Deccan Sports Club</h2>
    <div class="columns">
      <ul class="price">
        <li class="header">Monthly</li>
        <li class="grey">₹ 499 / month</li>
        <li>All Sports</li>
        <li>Online / Offline training</li>
        <li>* 2 Sports at a time </li>
        <li>Basic Offers on Enrollment!</li>
        <li class="grey"><a href="#" class="button">BUY</a></li>
      </ul>
    </div>
    
    <div class="columns">
      <ul class="price">
        <li class="header">Quarterly</li>
        <li class="grey">₹ 1299 / Quater</li>
        <li>All Sports</li>
        <li>Online / Offline training</li>
        <li>* 4 Sports at a time</li>
        <li>Pro Offers on Enrollment!</li>
        <li class="grey"><a href="#" class="button">BUY</a></li>
      </ul>
    </div>
    
    <div class="columns">
      <ul class="price">
        <li class="header">Yearly</li>
        <li class="grey">₹ 4900 / year</li>
        <li>All Sports</li>
        <li>Online / Offline training</li>
        <li>* 9 Sports at a time</li>
        <li>Premium Offers on Enrollment!</li>
        <li class="grey"><a href="#" class="button">BUY</a></li>
      </ul>
    </div>

    
    </body>
